.player {
  display: flex;
  align-items: center;
  width: 300px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background-color: rgba(80, 80, 80, 0.5);

  span {
    margin-left: 16px;
    font-size: 32px;
  }

  img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 100%;
  }
}

.player_active {
  background-color: rgba(255, 153, 1, 0.8);
}